@media (max-width: 799px) {
    
    .section-p1{
        padding: 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F6;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 20px;
        transition: all 0.4s;
    }
    #navbar.active{
        right: 0;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color:#1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display:none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature .row {
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .row{
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner{
        height: 30vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 .row .col-4 {
        width: 100%;
    }
    #banner3 .banner-box {
        height: 50vh;
    }
    #newsletter .form {
        width: 70%;
    }
    /* ==== contact === */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
    #contact-details .map {
        text-align: right;
        height: 400px;
        width: 100%;
    }
}

@media (max-width:477px) {
    
    .section-p1 {
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature .row{
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 115px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }
    #banner {
        
        height: 40vh;
    }
    #sm-banner h2 {
        color: #fff;
        font-size: 26px;
        font-weight: 800;
    }
    #sm-banner .col-6{
        width: 100%;
    }
    #sm-banner .container .col-6:first-child {
        padding: 0;
    }
    #sm-banner .box2 {
        margin-top: 20px;
    }
    #banner3 .row .col-4 {
        padding: 0;
    }
    #banner3 .banner-box {
        width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: 100%;
        padding: 20px;
        margin: 10px 0;
    }
    #newsletter{
        padding: 40px 20px; 
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
    /* single product  */

    #prodetails .row{
        flex-direction: column;
    }
    #prodetails .row .col-4{
        width: 100%;
    }
    #prodetails .row .col-8{
        width: 100%;
    }
    #prodetails .single-pro-details {
        margin:0;
    }


    /* ======= blog page ====== */
    #blog{
        margin: 100px 20px 0 20px;
    
    }
    #blog .col-6{
        width: 100%;
    }
    #blog .row{
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #blog .blog-img img{
        width: 100%;
    }

    /* ==== about page ==== */
    #about-head .row{
        flex-direction: column;
    }
    #about-head .row .col-6{
        width: 100%;
    }
    #about-head .space {
        padding-left: 0;
    }
    #about-app .video {
        width: 100%;
    }

    /* === contact === */
    #contact-details .row{
        flex-direction: column;
    }
    #contact-details .col-6{
        width: 100%;
    }
    #contact-details .details{
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 20px;
    }
    /* === cart === */
    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal {
        width: 100%;
    }
}